.menu-cv{
    background-color: #159394;
    border-color: #fff;
    margin-bottom: 0px;
    border: 0px solid transparent;
}

.navbar-default .brand-cv{
    color: #fff;
}

.navbar-default .brand-cv:hover,
.navbar-default .brand-cv:focus {
  color: #ccc;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ccc;
  background-color: transparent;
}

.line-style{
    border: .5px solid #f7f7f7;
}

.new-section{
    margin-top: 30px;
}
.btn-right{
    margin-right: 16px;
}
.btn-right-long{
    margin-right: 25px;
}
.btn-delete{
    margin-left: 30px;
}
.section-name{
  margin-left: 15px;
}

.btn-delete-special{
  margin-top: 25px;
}
.process{
  background-color: #ffed89;
}