.nav-stacked{
    background-color: #f7f7f7;
}

.con-bg{
    border: 2px solid #f7f7f7;
    height: auto;
    padding: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #159394;
}

.nav-pills > li > a {
    border-radius: 0;
    padding: 5px 10px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
}

a {
    color: #159394;
    text-decoration: none;
}
a:hover, a:focus {
    color: #159394;
}

.text-cv{
    border-radius: 0;
    height: 28px;
}

.btn-cv{
    border-radius: 0;
}

.form-bg{
    background: #f7f7f7; 
    padding: 20px;
    margin-top: 15px;
}

.errd {
    color: #d84f41;
    padding: 5px;
    background-color: #f7e9e8;
}
